{{ define "main" }}

<div id="hero" class="hero" style="">
    {{ with .Site.Data.home.whatWeDo }} 
    
    <div class="hero-child row">
 
       
      <div class="d-md-none col-sm-12 col-md-10 col-xl-9 offset-md-1 d-flex flex-sm-column flex-md-row justify-content-sm-center justify-content-md-start align-items-center">
       
        <img id="hero-logomark" alt="Stanford Basic Income Lab Logo" class=" mb-sm-2 mb-md-0 mr-1" src="/images/logos/bil-logomark-lg.svg" /><img class="stanford-wordmark mb-md-0" alt="Stanford University Logo" src="/images/logos/stanford-wordmark-white.svg"/><h1 tabindex="0"> <span class="d-sm-none d-md-inline">|</span> Basic Income Lab</h1>
        <p></p>
        
    
      </div>
    </div>
    <div id="hero-wwd" class="row">
        <div class="col-md-8 offset-lg-1 col-xl-10 offset-lg-1 ">
            <h2 class="whitetext text-md-left mb-sm-4 mb-md-4 mb-xl-5">{{ .heading }}</h2>
        </div>
    </div> 
</div>

<!--/////       WHAT WE DO: DESKTOP      \\\\\-->
<div id="what-we-do" class="black-bg d-sm-none d-md-block pt-sm-0 pt-md-0 pt-lg-0 pt-xl-0 pb-sm-7 pb-md-9 pb-lg-11 pb-xl-13">
        <div class="row mb-3">
            <div class=" col-0"></div>
            <div class="col-md-4 offset-lg-1 col-lg offset-lg-0">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p1 }}</p>
            </div>
            <div class="col-md-4 offset-lg-1 col-lg offset-lg-0">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p2 }}</p>
            </div>
            <div class="col-md-4 offset-lg-1 col-lg offset-lg-0">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0">{{ .p3 }}</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-lg-1 offset-lg-1">
                <a class="plainlink g-white whitetext" href="/about/">{{ .cta }}&nbsp;{{ partial "rightarrow.html" }}</a>
            </div>
        </div>    
    </div>

  

<!--/////       WHAT WE DO: MOBILE      \\\\\-->
<div id="what-we-do2" class="grn-bg d-md-none pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-9 pb-lg-11 pb-xl-13">
    <div class="row">
        <div class="col-md-8 offset-md-1 col-xl-10 offset-lg-1 ">
            <h2 class="tealgrntext mb-sm-4 mb-md-4 mb-xl-5">{{ .heading }}</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class=" col-lg-1"></div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p1 }}</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p2 }}</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0">{{ .p3 }}</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-1 offset-lg-1">
            <a class="plainlink g-white whitetext" href="/about/">{{ .cta }}&nbsp;{{ partial "rightarrow.html" }}</a>
        </div>
    </div>    
</div>
{{ end }}
<!--/////       WHAT IS UBI?      \\\\\-->
{{ with .Site.Data.home.whatWeDo }} 
<div id="what-is-ubi">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 mt-md-8 mt-lg-10 mt-xl-11 mb-md-5 mb-lg-5 mb-xl-6">
            <h2 class="text-center blacktext mb-2">{{ .heading2 }}</h2>
            <p class="text-center slatetext">{{ .subhead2 }}</p>
        </div>
    </div>
    <div class="row mb-md-4 mb-lg-6 mb-xl-11">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="periodic" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item1Head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item1Text }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="cash-payment" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item2Head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item2Text}}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="universal" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item3Head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item3Text }}</p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-3"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="individual" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item4Head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item4Text }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="unconditional" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item5Head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item5Text }}</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto d-flex flex-column align-items-center mt-sm-5 mt-md-8 mt-lg-9 mt-xl-11 mb-sm-8 mb-md-10 mb-lg-12 mb-xl-15">
        <a class="d-flex justify-content-center align-items-center btn btn-primary" href="/about/what-is-ubi">{{ .cta2 }}</a>
    </div>
</div>
{{ end }}
<!--/////----   Visualization   ----\\\\\-->
{{ with .Site.Data.home.whatWeDo }}
<div id="hp-viz" style="background-color: #f1f1f1; background-image: url('{{ .bg3}}');">   
    <div class="row">   
    <div class="col-md-5 offset-md-1 pt-sm-20 pb-sm-6 py-md-11 py-lg-15 py-xl-16">
        <div class="teaser-overlay">
            <h2 class="blacktext text-sm-center text-md-left mt-sm-4 mt-md-0 mb-1">{{ .heading3 }}</h2>
            <p class="slatetext mt-2">{{ .subhead3 }}</p>
            <div class="news-item-link d-flex">
                <a class="plainlink coldblcktext mx-auto mx-md-0" href="{{ .link3 }}">{{ .cta3 }}&nbsp;{{ partial "rightarrow.html" }}</a>
            </div>
        </div>    
    </div>
    </div>
   
</div>
<!--/////----   Homepage Recent News   ----\\\\\-->
<div id="hp-news" class="mt-sm-6 mt-md-8 mt-lg-9 mt-xl-10">
        <div class="row">
            <div class="col-12 ">
                <h2 class="text-center blactext mb-2 mb-md-3 mb-lg-5 mb-xl-7">{{ .heading4 }}</h2>
            </div>
        </div>
        {{ end }}
        <div class="row no-gutters">
            <div class="col-sm-1 col-lg-2"></div>
            {{ range first 1 (where .Site.Pages ".Params.type" "labupdates")  }}
            <div class="d-flex flex-column justify-content-between col-sm-10 mb-3 mb-md-0 col-md p-0 news-item mr-md-1 mr-lg-3 mr-xl-5">
                <div class="news-item-txt p-4">
                    <div class="news-item-icon mb-2"></div>
                   
                    <div class="superhead coldblcktext text-uppercase mb-1">{{/* .outlet */}}</div>
                    <h3 class="blacktext mb-2">{{ .Params.title }}</h3>
                    <p class="slatetext">{{ .Params.excerpt | truncate 180 }}</p>
                       
                    </div>
                <div class="news-item-link py-3 px-4">
                    <a class="plainlink coldblcktext" href="{{ .Permalink }}">READ MORE&nbsp;{{ partial "rightarrow.html" }}</a>
                </div>
             
            </div>
            {{ end }} 
            {{ range first 1 (after 1 (where .Site.Pages ".Params.type" "labupdates") ) }}
            <div class="d-flex flex-column justify-content-between col-sm-10 offset-sm-1 col-md offset-md-0 p-0 news-item ml-md-1 ml-lg-3 ml-xl-5">
                    <div class="news-item-txt p-4">
                        <div class="news-item-icon mb-2"></div>
                        <div class="superhead coldblcktext text-uppercase mb-1">{{/* .outlet */}}</div>
                        <h3 class="blacktext mb-2">{{ .Params.title }}</h3>
                        <p class="slatetext">{{ .Params.excerpt | truncate 180 }}</p>
                    </div>
                    <div class="news-item-link py-3 px-4">
                        <a class="plainlink coldblcktext" href="{{ .Permalink }}">READ MORE&nbsp;{{ partial "rightarrow.html" }}</a>
                    </div>
            </div>
            {{ end }}
            <div class="col-md-1 col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center mt-5 mb-6 mb-md-8 mb-lg-10">
                <a class="plainlink text-center coldblcktext" href="/news">ALL UPDATES&nbsp;{{ partial "rightarrow.html" }}</a>
            </div>
        </div>
    </div>
{{ partial "subscribe.html" . }}

{{ end }}
