{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
            {{ with .Site.Data.covid.covid19digest }}
                <h1 class="page-hero">{{ .herotext }}</h1>
            {{ end }}
        </div>
    </div>
</div>

{{ with .Site.Data.news.page }}
<div class="row subnav d-md-none small-tab-nav">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .digesttitle }} 
        </button>
  <ul class="anchor-links dropdown-menu">
        <li class="mb-3"><a href="/news">{{ .labupdates }}</a></li>
        <li class="mb-3"><a href="/news">{{ .inthenews }}</a></li>
        <li class="mb-3"><a href="/news/newsletters">{{ .newsletterstitle }}</a></li>
       
</ul>
</div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
            <li class="active">{{ .digesttitle }}</li>
            <li class="mx-md-5"><a href="/news">{{ .inthenews }}</a></li>
            <li class="mr-md-5"><a href="/news/lab-updates">{{ .labupdates }}</a></li>
            <li class=""><a href="/news/newsletters">{{ .newsletterstitle }}</a></li>
        
        </ul>
    </div>
</div>
{{ end }}
<!-- /SUBNAV -->

<div id="digest-intro" class="pt-sm-5 pt-md-5 pt-lg-7 pt-xl-9 pb-6 pb-lg-8">
        
    <div class="row newslist">
        <div class="col-12 col-md-7 offset-md-2 col-lg-6 offset-lg-1 pr-md-6 pr-lg-7 pr-xl-8">
            {{ with .Site.Data.covid.covid19digest }}
            <p class="medgraytext mb-2">{{ .introtext }}</p>
          
            {{ end }}
        </div>
          
    </div>

</div>


<div id="policy-tools" class="pt-md-5 pt-lg-7 pt-xl-9">
        
            <div class="row newslist mb-6 mb-lg-8">
                <div class="col-12 col-md-5 col-lg-5 offset-lg-1 pr-md-7 pr-xl-8">
                    {{ with .Site.Data.covid.covid19digest }}
                    <img class="mt-5 mt-md-0 mt-lg-5 mb-1" src="{{ .policyicon }}" />
                    <h2 class="thin mb-2">{{ .policyheader }}</h2>
                    <p class="medgraytext mb-2">{{ .policytext }}</p>
                    <a class="plainlink bronzetext" href="/covid-19-digest/policy-tools">VIEW ALL POLICY TOOLS {{ partial "rightarrow.html" }}</a>
                    {{ end }}
                </div>
               
                <div class="col-12 col-md-7 col-lg-5 d-block d-md-flex flex-column digestlist mt-5 mt-md-0">
                    <div class="superhead">MOST RECENT:</div>
                    {{ range first 3 .Site.Data.covid.covid19policy.policytools  }}
                        <div class="">
                            <div class="topdivider mb-3 mb-md-4"></div>
                            <a href="{{ .link }}" target="_blank"><h3 class="thin news mb-sm-2 mb-md-2 mb-xl-2">{{ .title }}</h3></a>
                            <p class="medgraytext mb-2">{{ .excerpt | markdownify | safeHTML }}</p>     
                            <div class="news-item-link mb-3 mb-lg-4">
                                <a class="plainlink bronzetext" href="{{ .link }}" target="_blank">VIEW {{ partial "rightarrow.html" }}</a>
                            </div>    
                        </div>
                    {{ end }} 
                    <a class="d-flex justify-content-center align-items-center btn btn-primary" href="/covid-19-digest/policy-tools">VIEW ALL</a>   
                </div>    
            </div>
        
    </div> 

    <div id="analysis" class="pt-md-5 pt-lg-7 pt-xl-9">
        
        <div class="row newslist pb-6 pb-lg-8">
            <div class="col-12 col-md-5 col-lg-5 offset-lg-1 pr-md-7 pr-xl-8">
                {{ with .Site.Data.covid.covid19digest }}
                <img class="mt-5 mt-md-0 mt-lg-5 mb-1" src="{{ .analysisicon }}" />
                <h2 class="thin mb-2">{{ .analysisheader }}</h2>
                <p class="medgraytext mb-2">{{ .analysistext }}</p>
                <a class="plainlink bronzetext" href="/covid-19-digest/analysis">VIEW ALL ANALYSES {{ partial "rightarrow.html" }}</a>
                {{ end }}
            </div>
           
            <div class="col-12 col-md-7 col-lg-5 d-block d-md-flex flex-column digestlist mt-5 mt-md-0">
                <div class="superhead">MOST RECENT:</div>
                {{ range first 3 .Site.Data.covid.covid19analysis.analysis  }}
                    <div class="">
                        <div class="topdivider mb-3 mb-md-4"></div>
                        <a href="{{ .link }}" target="_blank"><h3 class="thin news mb-sm-2 mb-md-2 mb-xl-2">{{ .title }}</h3></a>
                        <p class="medgraytext mb-2">{{ .excerpt | markdownify | safeHTML }}</p>     
                        <div class="news-item-link mb-3 mb-lg-4">
                            <a class="plainlink bronzetext" href="{{ .link }}" target="_blank">VIEW {{ partial "rightarrow.html" }}</a>
                        </div>    
                    </div>
                {{ end }}  
                <a class="d-flex justify-content-center align-items-center btn btn-primary" href="/covid-19-digest/analysis">VIEW ALL</a>  
            </div>    
        </div>
    
    </div>
    
    <div id="upcoming-events" class="pt-md-5 pt-lg-7 pt-xl-9">
        
        <div class="row newslist mb-6 mb-lg-8">
            <div class="col-12 col-md-5 col-lg-5 offset-lg-1 pr-md-7 pr-xl-8">
                {{ with .Site.Data.covid.covid19digest }}
                <img class="mt-5 mt-md-0 mt-lg-5 mb-1" src="{{ .upcomingicon }}" />
                <h2 class="thin mb-2">{{ .upcomingheader }}</h2>
                <p class="medgraytext mb-2">{{ .upcomingtext }}</p>
                <a class="plainlink bronzetext" href="/covid-19-digest/events">VIEW ALL EVENTS {{ partial "rightarrow.html" }}</a>
                {{ end }}
            </div>
           
            <div class="col-12 col-md-7 col-lg-5 d-block d-md-flex flex-column digestlist mt-5 mt-md-0">
                <div class="superhead">LATEST ADDITIONS:</div>
                {{ range $index, $element := .Site.Data.covid.covid19events.events  }}
                    {{ if gt (time $element.date) now }}
                        {{ if lt $index 3 }}
                            <div class="">
                                <div class="topdivider mb-3 mb-md-4"></div>
                                <a href="{{ $element.link }}" target="_blank"><h3 class="thin news mb-sm-2 mb-md-2 mb-xl-2">{{ $element.title }}</h3></a>
                                <div class="superhead digestdate mb-2">{{ dateFormat "January 2, 2006" .date }}</div>
                                <p class="medgraytext mb-2">{{ $element.excerpt | markdownify | safeHTML }}</p>     
                                <div class="news-item-link mb-3 mb-lg-4">
                                    <a class="plainlink bronzetext" href="{{ $element.link }}" target="_blank">VIEW {{ partial "rightarrow.html" }}</a>
                                </div>    
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <a class="d-flex justify-content-center align-items-center btn btn-primary" href="/covid-19-digest/events">VIEW ALL</a>    
            </div>    
        </div>
    
    </div>
    <div id="past-events" class="pb-sm-7 pb-md-7 pb-xl-8">
        <div class="col-12 col-md-10 offset-md-1 topdivider"></div>
        <div class="row newslist mb-6 mb-lg-8 pt-md-5 pt-lg-7 pt-xl-9">
            <div class="col-12 col-md-5 col-lg-5 offset-lg-1 pr-md-7 pr-xl-8">
                {{ with .Site.Data.covid.covid19digest }}
                <img class="mt-5 mt-md-0 mt-lg-5 mb-1" src="{{ .pasticon }}" />
                <h2 class="thin mb-2">{{ .pastheader }}</h2>
                <p class="medgraytext mb-2">{{ .pasttext }}</p>
                <a class="plainlink bronzetext" href="/covid-19-digest/events">VIEW ALL EVENTS {{ partial "rightarrow.html" }}</a>
                {{ end }}
            </div>
           
            <div class="col-12 col-md-7 col-lg-5 d-block d-md-flex flex-column digestlist mt-5 mt-md-0">
                <div class="superhead">LATEST ADDITIONS:</div>
                {{ $count := 0 }}
                {{ range .Site.Data.covid.covid19events.events  }}
                    {{ if lt (time .date) now }}
                        {{ $count = (add $count 1)}}
                        {{ if lt $count 4 }}
                        <div class="">
                            <div class="topdivider mb-3 mb-md-4 "></div>
                            <a href="{{ .link }}" target="_blank"><h3 class="thin news mb-sm-2 mb-md-2 mb-xl-2">{{ .title }}</h3></a>
                            <div class="superhead digestdate mb-2">{{ dateFormat "January 2, 2006" .date }}</div>
                            <p class="medgraytext mb-2">{{ .excerpt | markdownify | safeHTML }}</p>     
                            <div class="news-item-link mb-3 mb-lg-4">
                                <a class="plainlink bronzetext" href="">VIEW {{ partial "rightarrow.html" }}</a>
                            </div>    
                        </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <a class="d-flex justify-content-center align-items-center btn btn-primary" href="/covid-19-digest/events">VIEW ALL</a>    
            </div>    
        </div>
    
    </div>


{{ partial "subscribe.html" .}}

{{ end }}
