{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
    {{ with .Site.Data.events.page }} 
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h1 class="page-hero">{{ .herotext }}</h1>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown justify-content-center align-items-center">
            <!--<div>Positions:</div>--> 
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .past }}
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/events/upcoming/">{{ .upcoming }}</a></li>
            <li class="mb-3"><a href="/events/videos/">{{ .videos }}</a></li>
           
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class=""><a href="/events/upcoming/">{{ .upcoming }}</a></li>
            <li class="active mx-md-5">{{ .past }}</li>
            <li class=""><a href="/events/videos/">{{ .videos }}</a></li>
           
          
        </ul>
    </div>
</div>



<!-- /SUBNAV -->


<div id="events-list" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    

        <div class="row newslist mb-1 mb-md-2 mb-xl-3">
            <div class="col-12 col-md-7 offset-md-2 col-lg-6 offset-lg-3 pl-md-0">
                <h2 class="news">{{ .past }}</h2>
            </div>    
        </div>    
        {{ end }}
        
            {{ $paginator := .Paginate ( where (where .Site.Pages ".Params.type" "=" "events") ".Date" "le" now) 10 }}
          
                {{ range .Paginator.Pages  }} 
              {{ if .Params.image }}
            <div class="row mb-4 mb-md-4 mb-lg-8 newslist">
                <div class="col-12 col-md-7 offset-md-2 col-lg-6 offset-lg-3 topdivider mb-3 mb-md-4 mb-lg-3 mb-xl-4"></div>    
                <div class="col-12 col-md-2 offset-md-2 cold-lg-2 offset-lg-3 mr-md-2 pic-column mb-2 mb" style="background-image: url('{{ .Params.image }}'); background-size: contain; background-repeat: no-repeat;">
                        
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{{ .Permalink }}" target=""><h5 class="events mb-sm-2 mb-md-2 mb-xl-2">{{ .Params.title }}</h5></a>
                    <h4 class="news coldblcktext text-uppercase mb-1 ">{{ .Date.Format "Monday, January 2, 2006" }} | {{ .Params.timeRange }}
                    <br>{{ .Params.location }}</h4>
                    <p class="medgraytext"></p>     
                    <div class="news-item-link">
                        <a class="plainlink coldblcktext" href="{{ .Permalink }}">FIND OUT MORE&nbsp;{{ partial "rightarrow.html" }}</a>
                    </div>    
                </div>
            </div>
            {{ end }}
        {{ end }} 
        <div class="row mb-4 mb-md-4 mb-lg-8 mb-xl-12 newslist">
            <div class="col-12 col-md-4 mx-auto">
                {{ partial "pagination" . }} 
            </div>    
            </div>
    </div> 


{{ partial "subscribe.html" .}}

{{ end }}
