{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h1 class="page-hero">Meet our leadership and fellows:</h1>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What is UBI?
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/about/what-is-bil">What is BIL?</a></li>
            <li class="mb-3"><a href="/about/people">People</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class=""><a href="/about/what-is-bil">What is BIL?</a></li>
            <li class="mx-md-5"><a href="/about/what-is-ubi">What is UBI?</a></li>
            <li class="active">People</li>
        </ul>
    </div>
</div>
<!-- /SUBNAV -->

<div class="row who-we-are-former leadership">
        <div class="headers w-100">
            <h2 tabindex="0">Leadership</h2>
        </div>
    </div>
    
    <div class="row people-former">
        <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">
            
                {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
                {{ if eq .role "leadership" }}
                <!-- <div class="col-xs-12 col-mm-4 col"> -->
                  <div id="{{ urlize .name }}-{{ urlize .title}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                     {{/*  
                          {{ $img := strings.TrimPrefix "/uploads/" .image }}
                          {{ $name := .name }}
                          {{ with $.Site.GetPage "page" "uploads/_index.md" }}
                          {{ with .Resources.GetMatch $img }}
                              {{$imgFill := .Fill "272x272 Center"}}  
                      */}}
                          <div data-image="{{ .thumb }}" class="pic" style="background: url('{{ .thumb }}'); background-size: contain;" alt="Photo of {{ .name }}" tabindex="0">
                              <button class=""><div>+</div></button>
                          </div>
                     {{/*  
                          {{ end }}
                          {{ end }} 
                      */}}
          
                      {{ partial "person.html" . }}
          
                  </div>
                {{ end }}
              {{ end }}
    
    
        </div>
    </div>

    <div class="row who-we-are-former leadership">
            <div class="headers w-100">
                <h2 tabindex="0">Current Graduate Fellows</h2>
            </div>
        </div>
        <div class="">
            <div class="row people-former">
                <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">
                    
                        {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
                        {{ if eq .role "current-grad" }}
                        <!-- <div class="col-xs-12 col-mm-4 col"> -->
                        <div id="{{ urlize .name }}-{{ urlize .title}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                            {{/*  
                                {{ $img := strings.TrimPrefix "/uploads/" .image }}
                                {{ $name := .name }}
                                {{ with $.Site.GetPage "page" "uploads/_index.md" }}
                                {{ with .Resources.GetMatch $img }}
                                    {{$imgFill := .Fill "272x272 Center"}}  
                            */}}
                                <div data-image="{{ .thumb }}" class="pic" style="background: url('{{ .thumb }}'); background-size: contain;" alt="Photo of {{ .name }}" tabindex="0">
                                    <button class="">+</button>
                                </div>
                            {{/*  
                                {{ end }}
                                {{ end }} 
                            */}}
                
                            {{ partial "person.html" . }}
                
                        </div>
                        {{ end }}
                    {{ end }}
            
            
                </div>
            </div> 
        </div>
        <div class="row who-we-are-former leadership">
                <div class="headers w-100">
                    <h2 tabindex="0">Undergraduate Fellows</h2>
                </div>
            </div>
            <div class="row people-former">
                <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">
                    
                        {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
                        {{ if eq .role "undergrad" }}
                        <!-- <div class="col-xs-12 col-mm-4 col"> -->
                          <div id="{{ urlize .name }}-{{ urlize .title}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                             {{/*  
                                  {{ $img := strings.TrimPrefix "/uploads/" .image }}
                                  {{ $name := .name }}
                                  {{ with $.Site.GetPage "page" "uploads/_index.md" }}
                                  {{ with .Resources.GetMatch $img }}
                                      {{$imgFill := .Fill "272x272 Center"}}  
                              */}}
                                  <div data-image="{{ .thumb }}" class="pic" style="background: url('{{ .thumb }}'); background-size: contain;" alt="Photo of {{ .name }}" tabindex="0">
                                      <button class="">+</button>
                                  </div>
                             {{/*  
                                  {{ end }}
                                  {{ end }} 
                              */}}
                  
                              {{ partial "person.html" . }}
                  
                          </div>
                        {{ end }}
                      {{ end }}
            
            
                </div>
            </div> 
        <div class="row who-we-are-former leadership">
                <div class="headers w-100">
                    <h2 tabindex="0">Former Graduate Fellows</h2>
                </div>
            </div>
            
            <div class="row people-former">
                <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap mb-7">
                    
                        {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
                        {{ if eq .role "former-grad" }}
                        <!-- <div class="col-xs-12 col-mm-4 col"> -->
                          <div id="{{ urlize .name }}-{{ urlize .title}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                             {{/*  
                                  {{ $img := strings.TrimPrefix "/uploads/" .image }}
                                  {{ $name := .name }}
                                  {{ with $.Site.GetPage "page" "uploads/_index.md" }}
                                  {{ with .Resources.GetMatch $img }}
                                      {{$imgFill := .Fill "272x272 Center"}}  
                              */}}
                                  <div data-image="{{ .thumb }}" class="pic" style="background: url('{{ .thumb }}'); background-size: contain;" alt="Photo of {{ .name }}" tabindex="0">
                                      <button class="">+</button>
                                  </div>
                             {{/*  
                                  {{ end }}
                                  {{ end }} 
                              */}}
                  
                              {{ partial "person.html" . }}
                  
                          </div>
                        {{ end }}
                      {{ end }}
            
            
                </div>
            </div> 


{{ partial "subscribe.html" .}}

{{ end }}
