{{ define "main" }}

    <div id="hero" class="hero row grn-bg" style="">
        <div class="hero-child row grn-bg">
            <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <h2 tabindex="0">Thanks for signing up!</h2>
            </div>
        </div>
    </div>

    <div class="row message m-0">
        <div class="col-xs-12 col-md-8 mx-auto col-xl-8 404-column text-center">
            <h3 tabindex="0">You've been added to our mailing list.</h3>
            <p>If you'd ever like to be removed, you can click "unsubscribe" at the bottom of our emails.</p>
            <a class="d-flex mx-auto justify-content-center align-items-center btn btn-primary" href="javascript:history.back()">GO BACK</a>
        </div>
    </div>

{{ end }}
