{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </h2>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                UBI Cities Toolkit
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/research/ubi-cities-toolkit/">Mapping UBI Research</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class=""><a href="/about/what-is-bil">Mapping UBI Research</a></li>
            <li class="mx-md-5 active">UBI Cities Toolkit</li>
          
        </ul>
    </div>
</div>
<!-- /SUBNAV -->


<!--/////       WHAT WE DO      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    <div class="row">
        <div class="col-md-3 offset-md-2 mt-11 d-flex flex-column justify-content-start align-items-sm-center align-items-md-end"><img src="/images/backgrounds/cities-toolkit.jpg" width="270px">
            
        </div>
        <div class="col-md-5 offset-md-1">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">Basic Income Toolkit</h2>
            <p class="medgraytext mt-md-1">Launched in early November 2018 at the National League of Cities annual meeting, the toolkit, Basic Income In Cities: A Guide to City Experiments and Pilot Projects, highlights emerging practices and shares insights on the process of designing UBI experiments in ways that are ethical, rigorous, informative and consequential for local and national policymaking.</p>

            <p class="medgraytext">The toolkit is in part the outcome of a UBI cities workshop convened by the Basic Income Lab in partnership with the National League of Cities  (NLC) and the Economic Security Project in September 2017. Researchers and key stakeholders from the Stockton Economic Empowerment Demonstration, the Y Combinator’s Basic Income Project, the Universal Income Project and the Jain Family Institute also made valuable contributions.
                </p>
                
        </div>
    </div>
</div>
<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>
<!--/////       DEFINING CHARACTERISTICS      \\\\\-->
<div id="what-is-ubi">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 my-md-8 my-lg-10 my-xl-11">
            <h2 class="text-center blacktext mb-2">Recommendations include:</h2>
        </div>
    </div>
    <div class="row mb-md-11 mb-lg-14 mb-xl-14">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="pluses" class="recommendations-icon mb-sm-1"></div>
         
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">Identifying key design elements of the UBI pilot (who benefits, the size of the benefit, the frequency of benefit delivery, the pilot duration.</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="target" class="recommendations-icon mb-sm-1"></div>
        
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">Ensuring the pilot’s goals are aligned with the cities goals and capacity.
                </p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="eyes" class="recommendations-icon mb-sm-1"></div>
         
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">Clearly defining essential stakeholders and the roles they play in the design, implementation, analysis of the pilot.</p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}
