{{ define "main" }}
{{ with .Page.Params }}
<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h1 class="page-hero">{{ .herotext }}</h1>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown d-flex justify-content-center align-items-center">
            <div>Research:</div> 
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                UBI Cities Toolkit
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/research/mapping-ubi-research/">Mapping UBI Research</a></li>
            <li class="mb-3"><a href="/research/basic-income-experiments/">Basic Income Experiments</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class=""><a href="/research/mapping-ubi-research/">Mapping UBI Research</a></li>
            <li class="mx-md-5 active">UBI Cities Toolkit</li>
            <li class=""><a href="/research/basic-income-experiments/">Basic Income Experiments</a></li>
          
        </ul>
    </div>
</div>
<!-- /SUBNAV -->


<!--/////       BASIC INCOME TOOLKIT      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    <div class="row">
        <a href="https://basicincome.stanford.edu/sites/g/files/sbiybj7921/f/basic_income_in_cities_toolkit_shareable_11-2-18.pdf" target="_blank"><div class="col-md-3 offset-md-2 mt-md-11 d-flex flex-column justify-content-start align-items-sm-center align-items-md-end"><img src="/images/backgrounds/cities-toolkit.jpg" alt="Basic Income Toolkit Cover Illustration and Link to Report" width="270px"></a>
            
        </div>
        <div class="col-md-5 offset-md-1 mt-4 mt-md-0">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">{{ .heading1 }}</h2>
            <span class="medgraytext mt-md-1">{{ .body1 }}</span>
                
        </div>
    </div>
</div>
<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>
<!--/////       RECOMMENDATIONS INCLUDE      \\\\\-->
<div id="what-is-ubi">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 my-md-8 my-lg-10 my-xl-11">
            <h2 class="text-center blacktext mb-2">{{ .heading2 }}</h2>
        </div>
    </div>
    <div class="row mb-md-11 mb-lg-14 mb-xl-14">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="pluses" class="recommendations-icon mb-sm-1"></div>
         
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .rec1 }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="target" class="recommendations-icon mb-sm-1"></div>
        
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .rec2 }}
                </p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="eyes" class="recommendations-icon mb-sm-1"></div>
         
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .rec3 }}</p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>
{{ end }}
{{ partial "subscribe.html" .}}

{{ end }}
