{{ define "main" }}
{{ with .Page.Params }}
<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-7 offset-md-1 col-xl-6 offset-xl-2 d-flex align-items-center">
        
            <h1 class="page-hero">{{ .herotext }}</h1>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown d-none justify-content-center align-items-center">
            <div>Research:</div> 
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mapping UBI Research
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/research/ubi-cities-toolkit/">UBI Cities Toolkit</a></li>
            <li class="mb-3"><a href="/research/basic-income-experiments/">Basic Income Experiments</a></li>
    </ul>
  </div>
</div>
<div class="row d-none subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class="active">Mapping UBI Research</a></li>
            <li class="mx-md-5"><a href="/research/ubi-cities-toolkit">UBI Cities Toolkit</a></li>
            <li class=""><a href="/research/basic-income-experiments/">Basic Income Experiments</a></li>
          
        </ul>
    </div>
</div>
<!-- /SUBNAV -->
<!-- COURSE INTRO SECTION -->
<div id="course-intro" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
        <div class="row">
            
            <div class="col-12 col-md-7 col-lg-5 offset-md-1 offset-xl-2">
                <h2 class="mb-sm-4 mb-md-4 mb-xl-5">{{ .heading1 }}</h2>
            </div>
            <div class="col-0 col-md-4"></div>    
            <div class="col-md-8 offset-md-1 col-lg-4 offset-xl-2">
                <span class="medgraytext mt-md-1">{{ .body1 | markdownify }}</span>
            </div>

            <div id="philosophy-course-pic" class="d-none col-md-5 offset-md-1 col-xl-3 d-lg-flex flex-column justify-content-start align-items-sm-center align-items-md-end mb-5 mt-2" style="background-image: url('/images/juliana-lecturn-960.jpg'); background-size: cover;">
                
            </div>

        </div>
    </div>
<!-- /COURSE INTRO SECTION -->
<!-- KEY QUESTIONS SECTION -->
    <div id="key-questions" class="bronze-bg pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
        <div class="row">
            
                <div class="col-md-4 offset-md-1 offset-xl-2">
                    <h2 class="bronzetext mb-1 mb-md-2">{{ .heading2 }}</h2>
                        <div class="subhead bronzetext mb-sm-4 mb-md-4 mb-xl-5">{{ .courses | safeHTML }}</div>
                    </div>
            
            <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-0">
                <span class="medgraytext">{{ .body2 | markdownify }}</span>
            </div>
        </div>
    </div>
<!-- /KEY QUESTIONS SECTION -->
<!-- SECTION INFO -->
<div id="section-info" class="dkbronze-bg pt-sm-3 pt-md-5 pt-lg-7 pt-xl-10 pb-sm-7 pb-md-5 pb-lg-8 pb-xl-11">
        <div class="row">
            
               <div class="col-12 col-md-6 col-lg-5 mx-auto text-center">
                   <h3 class="courses whitetext mb-2 mb-md-3">{{ .heading3 }}</h3>
                    <a class="plainlink whitetext" href="https://explorecourses.stanford.edu/search?view=catalog&filter-coursestatus-Active=on&q=174B">{{ .cta }}&nbsp;{{ partial "rightarrow-white.html" }}</a>
                </div>

        </div>
    </div>
{{ end }}    
{{ partial "subscribe.html" .}}

{{ end }}
