{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        {{ with .Page.Params }}
            <h1 class="page-hero">{{ .herotext }}</h1>
        {{ end }}    
        </div>
    </div>
</div>

<!-- SUBNAV -->
<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What is BIL?
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/about/what-is-ubi">What is UBI?</a></li>
            <li class="mb-3"><a href="/about/people">People</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
            <li class="active">What is BIL?</li>
            <li class="px-md-5"><a href="/about/what-is-ubi">What is UBI?</a></li>
            <li><a href="/about/people">People</a></li>
        </ul>
    </div>
</div>
<!-- /SUBNAV -->

{{ with .Page.Params }}
<!--/////       WHAT IS BIL?      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-6 pb-md-7 pb-xl-8">
    <div class="row">
        
        <div class="col-md-4 col-lg-4 offset-md-1 offset-lg-1">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">{{ .heading1 }}</h2>
        </div>
        <div class="col-md-6 col-lg-6 offset-md-0 medgraytext mt-md-1">
            {{ .body1 | markdownify }}
           
                

        </div>
    </div>
   
</div>

<div id="what-we-do" class="grn-bg pt-sm-8 pt-md-8 pt-lg-9 pt-xl-12 pb-sm-4 pb-md-6 pb-lg-11 pb-xl-13">
    <div class="row">
        <div class="col-md-3 offset-md-1 offset-lg-1">
            <p class="whitetext mb-sm-4 mb-md-4 mb-xl-5">{{ .heading2 | markdownify }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class=" col-lg-1"></div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p2p1 | markdownify }}</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">{{ .p2p2 | markdownify }}</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0">{{ .p2p3 | markdownify }}</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>


<!--<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>-->
<!--/////       DETAILS      \\\\\-->

<!--<div id="basic-details" class="bronze-bg py-sm-5 py-md-7 py-lg-9 py-xl-12">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
            <h6 class="bronzetext">NAME</h4>
            <p class="medgraytext">Stanford Basic Income Lab</p>
            <h6 class="bronzetext">ESTABLISHED</h4>
            <p class="medgraytext">February 2017</p>
            <h6 class="bronzetext">LOCATION</h4>
            <p class="medgraytext">The Center for Ethics in Society</p>
        </div>
        <div class="col-12 col-md-5 offset-md-0">
            <h6 class="bronzetext">WORK</h4>
            <p class="medgraytext">The Basic Income Lab holds conferences, community events, classes, supports research, and offers advising to cash-grant experiments.</p>
            <h6 class="bronzetext">FACULTY DIRECTOR</h4>
            <p class="medgraytext">Juliana Bidadanure is an Assistant Professor in Philosophy affiliated with the Center for Ethics in Society. In 2015, she organized an International conference on basic income at the European University Institute in Italy and she is now teaching on basic income at Stanford.</p>
            <h6 class="bronzetext">BASIC INCOME LAB FUNDERS</h4>
            <p class="medgraytext">Research and work done under the Basic Income Lab is made possible by: the Economic Security Project, the Robert Wood Johnson Foundation, McCoy Family Center for Ethics in Society at Stanford, and the Jain Family Institute.</p>
        </div>
    </div>
</div>-->

<!--      WHY BASIC INCOME       -->

<div id="why-basic">
    <div class="row mx-0">
        <div class="sq-img px-0 col-12 col-md-6 offset-md-0">
           
        </div>
        <div class="col-12 col-md-4 offset-md-1 px-4 px-md-0 py-sm-5 py-md-7 py-lg-9 py-xl-12">
            <h2 class="mb-3">{{ .heading3 }}</h2>
            <span class="medgraytext">{{ .body3 | markdownify }}   </span>
        </div>
    </div>
</div>
<div id="why-now">
        <div class="row mx-0 d-flex">
            <div class="col-12 col-md-4 offset-md-1 px-4 px-md-0 py-sm-5 py-md-7 py-lg-9 py-xl-12 order-sm-2 order-md-0">
                <h2 class="mb-3">{{ .heading4 }}</h2>
                <span class="medgraytext">{{ .body4 | markdownify }}</span> 
            </div>
            <div class="sq-img col-12 col-md-6 offset-md-1">
               
            </div>
    </div>
</div>

<div id="time-is-ripe" class="grn-bg pt-sm-7 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-4 pb-md-9 pb-lg-11 pb-xl-13">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <p class="whitetext mb-sm-7 mb-md-7 mb-xl-8 text-center">{{ .heading5 | markdownify }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-xl-0"></div>
            <div class="col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <span class="whitetext mb-sm-3 mb-md-4 mb-lg-0 text-center">{{ .p5p1 | markdownify }}</span>
            </div>
            <div class="col-md-5 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <span class="whitetext mb-sm-3 mb-md-4 mb-lg-0 text-center">{{ .p5p2 | markdownify }}</span>
            </div>
            <div class="col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <span class="whitetext mb-sm-3 mb-md-3 mb-lg-0 text-center">{{ .p5p3 | markdownify }}</span>
            </div>
            <div class="col-md-5 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <span class="whitetext mb-sm-3 mb-md-3 mb-lg-0 text-center">{{ .p5p4 | markdownify }}</span>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

<!-- SPONSORS ---------------------------------------- -->

<div id="sponsors">
        <div class="row">
            <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 my-md-8 my-lg-9 my-xl-11">
                <h2 class="text-center blacktext mb-2">{{ .heading6 }}</h2>
                <p class="text-center slatetext">{{ .body6 | markdownify }}</p>
            </div>
        </div>
        <div class="row mb-4 mb-lg-9 mb-xl-11 d-flex align-items-center align-items-md-end">
                <div class="col-0 col-md-1"></div>
                <div class="col-12 col-md pb-4 px-8 px-md-0 pb-md-0 mr-md-4 rwjf"><img alt="Robert Wood Johnson Foundation Logo" src="/images/icons/rwjflogo.png" width="100%" /></div>
                <div class="col-12 col-md pb-4 px-8 px-md-0 pb-md-0 esf"><img alt="Economic Security Foundation Logo" src="/images/icons/esp-logo.png" width="100%" /></div>
                <div class="col-12 col-md pb-4 px-8 px-md-0 pb-md-0 jfi d-flex justify-content-center"><img alt="Jain Family Institute Logo" src="/images/icons/jain-logo.png" width="50%" height="50%" /></div>
                <div class="col-12 col-md pb-4 px-8 px-md-0 pb-md-0 mfc"><img alt="McCoy Family Center for Ethics in Society Logo" src="/images/icons/mc-logo.png" width="100%" /></div>
                <div class="col-0 col-md-1"></div>
            
            
        </div>
       
     
    </div>    
    {{ end }}
{{ partial "subscribe.html" .}}

{{ end }}
