{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h1 class="page-hero">The Basic Income Lab holds conferences, community events, classes, supports research, and offers advising to cash-grant experiments.</h1>
            
        </div>
    </div>
</div>

<!-- SUBNAV -->
<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What is BIL?
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/about/what-is-ubi">What is UBI?</a></li>
            <li class="mb-3"><a href="/about/people">People</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
            <li class="active">What is BIL?</li>
            <li class="px-md-5"><a href="/about/what-is-ubi">What is UBI?</a></li>
            <li><a href="/about/people">People</a></li>
        </ul>
    </div>
</div>
<!-- /SUBNAV -->


<!--/////       WHAT IS BIL?      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-6 pb-md-7 pb-xl-8">
    <div class="row">
        <div class="col-md-4 col-lg-4 offset-md-1 offset-lg-1">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">Our Mission and Purpose</h2>
        </div>
        <div class="col-md-6 col-lg-6 offset-md-0">
            <p class="medgraytext mt-md-1">The Stanford Basic Income Lab aspires to be an academic home for the study of universal basic income. We review the vast interdisciplinary research produced on UBI, identify under-explored research questions, and help shape future directions in basic income research. The lab both guides researchers and experimenters who seek to conduct innovative research on UBI and hires scholars to produce new research. BIL also convenes key stakeholders and members of the community around the politics, philosophy and economics of basic income and informs policymakers and practitioners about best practices in UBI experimentation.</p>
            <p class="medgraytext mt-md-1">The purpose of the Basic Income Lab is to foster research and promote a more informed public discussion about basic income and its potential to alleviate poverty, precariousness and inequality.</p>
            <p class="medgraytext mt-md-1">The Stanford Basic Income Lab was founded in February 2017 as an initiative of the McCoy Family Center for Ethics in Society. Under the leadership of Associate Professor Juliana Bidadanure and the support and guidance of Joan Berry, Executive Director of the McCoy Family Center of Ethics in Society, the Basic Income Lab received seed funding from the Economic Security Project and the McCoy Family Center for Ethics in Society to create an academic home for the study and evaluation of basic income experiments.
                </p>

        </div>
    </div>
</div>

<div id="what-we-do" class="grn-bg pt-sm-8 pt-md-8 pt-lg-9 pt-xl-12 pb-sm-4 pb-md-6 pb-lg-11 pb-xl-13">
    <div class="row">
        <div class="col-md-3 offset-md-1 offset-lg-1">
            <p class="whitetext mb-sm-4 mb-md-4 mb-xl-5">The Basic Income Lab (BIL), located within the McCoy Center for Ethics in Society:</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class=" col-lg-1"></div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">Reviews the vast interdisciplinary research produced on UBI, identify under-explored research questions, and help shape future directions in basic income research</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">Guides researchers and experimenters who seek to conduct innovative research on UBI and hires scholars to produce new research                </p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0">Convenes key stakeholders and members of the community around the politics, philosophy and economics of basic income and informs policymakers and practitioners about best practices in UBI experimentation
                </p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>


<!--<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>-->
<!--/////       DETAILS      \\\\\-->

<!--<div id="basic-details" class="bronze-bg py-sm-5 py-md-7 py-lg-9 py-xl-12">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
            <h6 class="bronzetext">NAME</h4>
            <p class="medgraytext">Stanford Basic Income Lab</p>
            <h6 class="bronzetext">ESTABLISHED</h4>
            <p class="medgraytext">February 2017</p>
            <h6 class="bronzetext">LOCATION</h4>
            <p class="medgraytext">The Center for Ethics in Society</p>
        </div>
        <div class="col-12 col-md-5 offset-md-0">
            <h6 class="bronzetext">WORK</h4>
            <p class="medgraytext">The Basic Income Lab holds conferences, community events, classes, supports research, and offers advising to cash-grant experiments.</p>
            <h6 class="bronzetext">FACULTY DIRECTOR</h4>
            <p class="medgraytext">Juliana Bidadanure is an Assistant Professor in Philosophy affiliated with the Center for Ethics in Society. In 2015, she organized an International conference on basic income at the European University Institute in Italy and she is now teaching on basic income at Stanford.</p>
            <h6 class="bronzetext">BASIC INCOME LAB FUNDERS</h4>
            <p class="medgraytext">Research and work done under the Basic Income Lab is made possible by: the Economic Security Project, the Robert Wood Johnson Foundation, McCoy Family Center for Ethics in Society at Stanford, and the Jain Family Institute.</p>
        </div>
    </div>
</div>-->

<!--      WHY BASIC INCOME       -->

<div id="why-basic">
    <div class="row mx-0">
        <div class="sq-img px-0 col-12 col-md-6 offset-md-0">
           
        </div>
        <div class="col-12 col-md-4 offset-md-1 px-4 px-md-0 py-sm-5 py-md-7 py-lg-9 py-xl-12">
            <h2 class="mb-3">Why Basic Income?</h2>
            <p class="medgraytext">As automation, growing inequalities, increasing poverty, social precariousness and structural unemployment grow in relevance both in the United States and around the world, many experts have looked at alternative proposals to address these issues.
                </p>
            <p class="medgraytext">From this debate, Universal Basic Income (UBI) has emerged as an interesting alternative to deal with some of the largest issues faced by the world today. 
                </p> 
                
                <p class="medgraytext">    Within this context, there is an increasing need for in-depth academic research on how to design, implement and evaluate UBI; what UBI’s potential impacts could be; and, how feasible it would be to implement. 
                    </p>
        </div>
    </div>
</div>
<div id="why-now">
        <div class="row mx-0 d-flex">
            <div class="col-12 col-md-4 offset-md-1 px-4 px-md-0 py-sm-5 py-md-7 py-lg-9 py-xl-12 order-sm-2 order-md-0">
                <h2 class="mb-3">Why Here?                    </h2>
                <p class="medgraytext">In Silicon Valley, and increasingly in the United States, many individuals have expressed their support for Universal Basic Income due to a vast array of reasons. Some argue for it as providing a safety net for those who are already marginalized from the labor market; some support it as a measure to protect workers which may be displaced in the future due to increasing automation; and others defend it as a mechanism to provide real freedom to citizens. 
                    </p>
                <p class="medgraytext">Stanford offers a unique set of interdisciplinary opportunities to further enhance the study of this proposal. Nestled in the heart of the bay area, the university excels in both engineering and the social sciences, providing BIL access to experts across disciplines to make contributions to UBI research.

                        </p>    
            </div>
            <div class="sq-img col-12 col-md-6 offset-md-1">
               
            </div>
    </div>
</div>

<div id="time-is-ripe" class="grn-bg pt-sm-7 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-4 pb-md-9 pb-lg-11 pb-xl-13">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <p class="whitetext mb-sm-7 mb-md-7 mb-xl-8 text-center">The time is ripe for an independent initiative that serves to:</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-xl-0"></div>
            <div class="col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0 text-center">Convene scholars, policy makers, business leaders, think tanks, nonprofits, and foundations around the politics and economics of UBI</p>
            </div>
            <div class="col-md-5 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0 text-center">Inform those developing UBI policies and carrying out experiments</p>
            </div>
            <div class="col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0 text-center">Aggregate and disseminate research findings</p>
            </div>
            <div class="col-md-5 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 d-flex flex-column align-items-center">
                <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
                <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0 text-center">Stimulate research on UBI</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

{{ partial "subscribe.html" .}}

{{ end }}
