{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h2>The Basic Income Lab holds conferences, community events, classes, supports research, and offers advising to cash-grant experiments.</h2>
            
        </div>
    </div>
</div>


<!--/////       WHAT IS BIL?      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">What is the Basic Income Lab?</h2>
        </div>
        <div class="col-md-4 offset-md-1">
            <p class="medgraytext mt-md-1">What would people do with free cash? Would they stop working? Would they work more? Would they volunteer more? Under which conditions (if any) can people thrive without a job? Would Basic Income cause inflation? Is it affordable? Which iteration of the Basic Income idea would be most successful? How would Basic Income impact education and health outcomes?</p>
        </div>
    </div>
</div>

<div id="what-we-do" class="grn-bg pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-9 pb-lg-11 pb-xl-13">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <p class="whitetext mb-sm-4 mb-md-4 mb-xl-5">The Basic Income Lab (BIL), located within the McCoy Center for Ethics in Society:</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class=" col-lg-1"></div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">Convenes scholars, policymakers, business leaders, think tanks, nonprofits, and foundations around the politics and economics of UBI</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-4 mb-lg-0">Informs policymakers and practitioners about latest best practices</p>
        </div>
        <div class="col-md-4 offset-md-1 col-lg offset-lg-0">
            <div class="rect-divider mb-sm-3 mb-md-3 mb-lg-4"></div>
            <p class="whitetext mb-sm-3 mb-md-3 mb-lg-0">Promotes research and the study of the development and impact of UBI</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
    
</div>


<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>
<!--/////       DETAILS      \\\\\-->

<div id="basic-details" class="bronze-bg py-sm-5 py-md-7 py-lg-9 py-xl-12">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
            <h6 class="bronzetext">NAME</h4>
            <p class="medgraytext">Stanford Basic Income Lab</p>
            <h6 class="bronzetext">ESTABLISHED</h4>
            <p class="medgraytext">February 2017</p>
            <h6 class="bronzetext">LOCATION</h4>
            <p class="medgraytext">The Center for Ethics in Society</p>
        </div>
        <div class="col-12 col-md-5 offset-md-0">
            <h6 class="bronzetext">WORK</h4>
            <p class="medgraytext">The Basic Income Lab holds conferences, community events, classes, supports research, and offers advising to cash-grant experiments.</p>
            <h6 class="bronzetext">FACULTY DIRECTOR</h4>
            <p class="medgraytext">Juliana Bidadanure is an Assistant Professor in Philosophy affiliated with the Center for Ethics in Society. In 2015, she organized an International conference on basic income at the European University Institute in Italy and she is now teaching on basic income at Stanford.</p>
            <h6 class="bronzetext">BASIC INCOME LAB FUNDERS</h4>
            <p class="medgraytext">Research and work done under the Basic Income Lab is made possible by: the Economic Security Project, the Robert Wood Johnson Foundation, McCoy Family Center for Ethics in Society at Stanford, and the Jain Family Institute.</p>
        </div>
    </div>
</div>

<!--      WHY BASIC INCOME       -->

<div id="why-basic">
    <div class="row ml-0">
        <div class="sq-img col-12 col-md-6 offset-md-0">
           
        </div>
        <div class="col-12 col-md-4 offset-md-1 py-sm-5 py-md-7 py-lg-9 py-xl-12">
            <h2 class="">Why Basic Income?</h4>
            <p class="medgraytext">In Silicon Valley, and increasingly in the United States, many individuals have expressed their support for Universal Basic Income, viewing it as providing a safety net for those who are already marginalized from the labor market as well as those who, because of increasing automation, may be displaced in the future. Y Combinator Research went further and set aside millions of dollars to experiment with unconditional cash among low-income households. 
                Stanford, nestled in the heart of the bay area, excels in both engineering and the social sciences, providing BIL access to experts across disciplines to make contributions to UBI research.</p>
        </div>
    </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}
