{{ define "main" }}
{{ with .Page.Params }}
<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h1 class="page-hero">{{ .herotext }}</h1>
            
        </div>
    </div>
</div>

<div class="row subnav d-md-none small-tab-nav">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What is UBI?
            </button>
      <ul class="anchor-links dropdown-menu">
            <li class="mb-3"><a href="/about/what-is-bil">What is BIL?</a></li>
            <li class="mb-3"><a href="/about/people">People</a></li>
    </ul>
  </div>
</div>
<div class="row d-sm-none d-md-flex subnav">
    <div class="col-12 col-md-10 offset-md-1">
        <ul class="d-flex justify-content-center align-items-center pl-md-0">
        
            <li class=""><a href="/about/what-is-bil">What is BIL?</a></li>
            <li class="mx-md-5 active">What is UBI?</li>
            <li><a href="/about/people">People</a></li>
        </ul>
    </div>
</div>
<!-- /SUBNAV -->


<!--/////       WHAT WE DO      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    <div class="row">
        <div class="col-md-3 offset-md-1 offset-lg-2 no-gutters mt-2 mb-3 mb-md-0">
            <img class="mw-100" alt="Mural in Stockton, California depicting a tree and promoting the SEED project" src="/images/stockton-SEED-tree.jpg" />
        </div>
        <div class="col-md-6 offset-md-0 col-lg-5 ml-md-6">
            <h2 class="mb-sm-4 mb-md-3 mb-xl-4">{{ .heading1 }}</h2>
            <span class="medgraytext mt-md-1">{{ .body1 | markdownify }}</span>
        </div>
    </div>
</div>
<div class="row">
    <!--<div class="divider col-12 col-md-10 offset-md-1"></div>-->
</div>


<!--/////       UBI HISTORY         \\\\\-->

<div id="ubi-history" class="bronze-bg pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
        <div class="row">
            <div class="col-md-3 offset-md-1 offset-lg-2 no-gutters mb-3 mb-md-0">
                    <h2 class="bronzetext mb-sm-4 mb-md-4 mb-xl-5">{{ .heading2 }}</h2>
            </div>
            <div class="col-md-6 offset-md-0 col-lg-5 ml-md-6">
                <span class="medgraytext mt-md-1">{{ .body2 | markdownify }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="divider col-12 col-md-10 offset-md-1"></div>-->
    </div>

<!--/////       DEFINING CHARACTERISTICS      \\\\\-->
<div id="what-is-ubi">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 my-md-8 my-lg-10 my-xl-11">
            <h2 class="text-center blacktext mb-2">{{ .heading3 }}</h2>
            <p class="text-center slatetext">{{ .subhead3 | markdownify }}</p>
        </div>
    </div>
    <div class="row mb-md-4 mb-lg-6 mb-xl-11">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="periodic" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item1head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item1text }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="cash-payment" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item2head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item2text }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="universal" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item3head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item3text }}</p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-3"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="individual" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item4head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item4text }}</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="unconditional" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">{{ .item5head }}</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">{{ .item5text }}​</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto d-flex flex-column align-items-center mt-sm-5 mt-md-8 mt-lg-9 mt-xl-11 mb-sm-8 mb-md-10 mb-lg-12 mb-xl-15">
       
    </div>
</div>
{{ end }}
{{ partial "subscribe.html" .}}

{{ end }}
