
// Header
// keep in sync with viz.js NAVBAR_HEIGHT (in px)
$NAVBAR_HEIGHT: 6.4rem;

.bil-topmenu {
  padding: 2.4rem 0;
}
.dropdown-menu {
  margin-top: 2.0rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.subnav .dropdown-menu {
  margin-top: 0.8rem;
}
.dropdown-toggle::after {
  vertical-align: 0.2em;
}
/* .dropdown:hover>.dropdown-menu {
  display: block;
} 

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    /* pointer-events: none;
}*/
// Non-home pages: header

nav.navbar-light {
  a {
        @include sofia-reg;
       
        &:hover {
          text-decoration: none;
        }
        
  }
  ul.dropdown-menu {
      left: -16px;
      background-color: rgba(0,0,0,0.8);
  }
  ul.dropdown-menu a:hover {
    color: $button-bronze;
    text-decoration: none;
  }
  ul.dropdown-menu {
    padding-top: 0;
  }
  ul.dropdown-menu li {
    border-bottom: 1px solid #c5c5c5;
    margin-top: 10px;
    padding-bottom: 10px;
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 16px !important;
    }
  }
  height: $NAVBAR_HEIGHT;
  background-color: #fff; // $seda-dark;
  transition: background-color .2s ease;
  padding-right: 0;
  padding-left: 0;
  z-index: 3;
  border-bottom: .5px solid #FFFFFF;
  // opacity: 0;
  @include media-breakpoint-down(sm) {
    height: 5.6rem;
  }
  ul {
    list-style: none;
  }

  .navbar-brand {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    //height: 33px;
    width: 238px;
    //margin-top: 4px;
    background-image: url("/images/logos/bil-full-logomark.svg");
    background-size: 266px 39px;
    background-repeat: no-repeat;
    a {
      // color: $black;
      @include sofia-reg;
    }
    @include media-breakpoint-up(smm) {
      width: 276px;
    }
    @include media-breakpoint-up(mm) {
      width: 290px;
    }
  }

  &.sticky-top {
    ul.dropdown-menu {
      background-color: #fff;
    }
    a:hover {
      text-decoration: none;
      color: $button-bronze;
    }
    background-color: $seda-dark;
    background-color: #fff;
    
    background-repeat: no-repeat;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
    transition: background-color .2s ease;
    
    a {
      color: $black;
      @include sofia-reg;
    }
    

    .navbar-brand {
      animation: opacity-fill .3s;
      background-image: url("/images/logos/bil-full-logomark.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 41px;
      margin-top: 8px;
    // background-position: 0 0;
      background-repeat: no-repeat;
      
      @keyframes opacity-fill {
        /* You could think of as "step 1" */
        0% {
          opacity: 0;
        }
        /* You could think of as "step 2" */
        100% {
          opacity: 1;
        }
      }
    }
    .drawer-toggle {
      .navbar-toggler-icon {
        background-image: url('/images/icons/mobile-menu-dark.svg');
        animation: opacity-fill .3s;
        @keyframes opacity-fill {
          /* You could think of as "step 1" */
          0% {
            opacity: 0;
          }
          /* You could think of as "step 2" */
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .drawer-toggle {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    color: $white;
    text-align: right;
    padding-right: 2.4rem;
    .navbar-toggler-icon {
      background-image: url('/images/icons/mobile-menu-light.svg');
      background-repeat: no-repeat;
      height: 34px;
      width: 26px;
      @include media-breakpoint-down(sm) {
        height: 24px;
      }
    }
  }

  &.scroll-top {
    @include media-breakpoint-up(md) {
      nav.navbar {
        background-color: transparent !important;
      }
    }
  }
}

// Drawer for nav
/* The side navigation menu */
.drawer {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-right: -320px;
  text-align: center;
  @include sofia-reg;
  @include media-breakpoint-up(mm) {
    text-align: left;
    padding-left: 4.8rem;
  }

  &.show {
    margin-right: 0;
  }
  .closebtn {
    background-image: url(/images/close.svg);
    background-repeat: no-repeat;
    height: 41px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 16px;
    margin-left: 50px;
    border: 0;
    background-color: transparent;
  }

  .navlinks {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;

    a {
      // padding: 8px 8px 8px 32px;
      padding: 0;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
      
      font-size: 2.4rem;
      line-height: 2.0rem;
      letter-spacing: .011rem;
      //color: $seda-dark;
      color: $black;
      //text-transform: uppercase;
      margin-bottom: 3.2rem;

      &:hover {
        // text-decoration: underline;
        color: $button-bronze;
      }
    }
  }

  .social {
    .social-icon {
      font-size: 2.4rem;
      padding-right: 1.2rem;
    }
  }
}

button.navbar-toggler {
  border: 0;
}

// General Hero images

body {
  .hero {
    height: 320px;
    background-size: cover;
    background-position: 55% center;
    overflow: hidden;     
    @include media-breakpoint-up(md) {
      height: 360px;
      background-size: cover;
      background-position: center center;
    }
    @include media-breakpoint-up(lg) {
      height: 400px;
      background-size: cover;
      }
    @include media-breakpoint-up(xl) {
        height: 400px;
        background-size: cover;
    }
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;
    color: $white;
    text-align: center;

    .hero-child {
      &.row {
          margin-left: 0;
          padding-left: 16px;
      }
      height: 100%;
      background-size: cover;
      
      @include media-breakpoint-up(md) {
          background-size: cover;
      }
      @include media-breakpoint-up(lg) {
          background-size: cover;
      }
      @include media-breakpoint-up(xl) {
          background-size: cover;
      }
      width: 100%;
      background: rgba(0,0,0,0.55);
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);

      .hero-copy {
        h1 {
          @include sofia-med;
          text-align: left;
          color: $white;
          font-size: 2rem;
          line-height: 3rem;
          letter-spacing: .014rem;

          @include media-breakpoint-up(md) {
            font-size: 2.4rem;
            line-height: 4.2rem;
            letter-spacing: .018rem;
          }

          @include media-breakpoint-up(lg) {
            font-size: 2.8rem;
            line-height: 4.4rem;
            letter-spacing: .018rem;
          }

          @include media-breakpoint-up(xl) {
            font-size: 3rem;
            line-height: 4.8rem;
            letter-spacing: .022rem;
          } 
        }
      }
    }
  }
}
#main {
  background-color: $white;
  // overflow-x: hidden;
}
.divider  {
  border-bottom: 1px solid #D7D7D7;
}

// Breadcrumbs
.breadcrumb-parent {
  margin-top: 3.6rem;

  .breadcrumb {
    // font-family: $brandongrotesque-med;
    font-size: 1.8rem;
    // color: $dnd-darkgreen;
    text-decoration: none;
    padding-left: 3.6rem;
    padding-top: 0;

    a,
    .sep {
      // color: $dnd-lightgray;
      text-decoration: none;
    }

    .sep {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }
  }
}

// Breaker image for single content pages
.row.breaker {
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5.6rem 0;
}

// Float image
img {
  &.float-right {
    margin-left: 3.2rem;
  }
  &.float-left {
    margin-right: 3.2rem;
  }
}

// Subnav

.subnav {
  //height: 4.8rem;
  /* position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky; */
  //top: 56px;
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
  background-color: #F7F7F7;
  opacity: 1;
  z-index: 2;
  margin-left: -16px;
  padding-left: 16px;
  margin-right: 0;
  @include media-breakpoint-up(smm) {
    top: 64px;
  }
  @include media-breakpoint-up(md) {
   // height: 5rem;
    //position: sticky;
   // top: 64px;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  @include media-breakpoint-up(lg) {
  //  height: 6rem;
    //position: sticky;
   // top: 64px;
  }
  &.sticky-top {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
  }
  &.d-md-none {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    .dropdown {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .dropdown-toggle {
      //width: 100%;
      font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.055rem;
        border: none;
        height: 4.7rem;
        background-color: #F7F7F7;
    }
    ul {
      color: #373737;
      border: none;
      width: 100%;
      text-align: center;
      padding: 2rem 0 0;
      z-index: 2;
      height: auto;
      &.show {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    justify-content: space-between;
    // border-bottom: 2px solid #E9EAED;
    height: 100%;
    color: #373737;
    li {
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: 0.055rem;
      //text-transform: uppercase;
      display: flex;
      align-items: center;
        &.active {
          border-bottom: 1px solid;
          padding-bottom: 1px;
        }  
        @include sofia-reg;
          font-size: 1.4rem;
          line-height: 2.1rem;
         // margin-bottom: 2rem;
         
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: .03rem;
            
           // margin-bottom: 2rem;
        }
        /* @include media-breakpoint-up(lg) {
            font-size: 1.55rem;
            line-height: 2.25rem;
            letter-spacing: .03rem;
            margin-bottom: 3rem;
        } */
        @include media-breakpoint-up(xl) {
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0rem;
        } 
      a {
        cursor: pointer;
        padding-bottom: 2px;
        &:hover {
          color: $button-bronze-active;
          text-decoration: none;
          border-bottom: 1px solid $button-bronze-active;
          padding-bottom: 1px;
        }
      }
    }
  }
}
.subnav.breadcrumb {
  @include media-breakpoint-down(md) {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

// Shadow effect
.drop-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
}
.drop-shadow-left {
  box-shadow: -2px 0px 5px rgba(0,0,0,.20);
}



// General List styles

.list-pic {
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-up(xl) {
    width: 160px;
    height: 160px;
  }
}
.newsletter-list .list-content {
  width: 100%;
}
.list-content {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 80%;
  }
  .topdivider {
    @include media-breakpoint-down(mm) {
      //border-top: none !important;
      margin-top: 24px;
    }
  }
}













// 404 page
body.kind-404, body.successful-signup {
  .hero {
    //background: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%);
    //background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 120%;
    height: 336px;
    margin-top: -6.4rem;
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-up(md) {
      height: 448px;
      // background-size: 120% 80%;
      // background-position: -400px 10%;
    }
    @include media-breakpoint-up(xl) {
      // background-size: 2200px 478px;
      // background-position: -400px 10%;
    }

    .hero-child {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      //background: url('/images/about-plot-2x.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 1030px 378px;
      @include media-breakpoint-up(mm) {
        background-size: 1600px 378px;
        background-position: -100px bottom;
      }
      @include media-breakpoint-up(xl) {
        background-size: 2000px 378px;
        background-position: -200px bottom;
      }
      .column {
        margin-top: 13.2rem;
        margin-bottom: 9.6rem;
        text-align: center;
        color: $white;
        @include media-breakpoint-up(md) {
          margin-top: 15.2rem;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 20rem;
        }
        h2 {
          
          font-size: 2.6rem;
          line-height: 2.55rem;
          letter-spacing: .013rem;
          margin-bottom: 1.6rem;
          @include media-breakpoint-up(md) {
            font-size: 2.8rem;
            line-height: 4.3rem;
            letter-spacing: .014rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
          }
        }
        p {
          
          font-size: 1.3rem;
          line-height: 2rem;
          letter-spacing: 0;
          @include media-breakpoint-up(md) {
            margin-top: 3.2rem;
            margin-bottom: 3.2rem;
            font-size: 1.8rem;
            line-height: 2.5rem;
            letter-spacing: auto;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.45rem;
            letter-spacing: auto;
          }
        }
      }
    }
  }


  .message {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
  p {
    
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0;
    @include media-breakpoint-up(md) {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: auto;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.3rem;
      line-height: 3.45rem;
      letter-spacing: auto;
    }
  }
}
.row {
  &.404 {
    min-height: 100vh;
    padding-top: 25vh;
  }
}

#sponsors {
 
  @include media-breakpoint-up(lg) {
    .rwjf {
      top: 2px;
    }
  } /*
  @include media-breakpoint-up(xl) {
    .rwjf {
      top: -2px;
    }
    .esf {
      top: 11px;
      margin-left: 32px;
    }
    .mfc {
      top: 17px;
    }
    .jfi {
      top: -12px;
    }
  }
  */
}

#contact-info {
  text-align: center;
  a {
    text-decoration: underline;
  }
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  #contact-img {
    background-image: url(/images/logos/bil-logomark-lg.svg); 
    background-repeat: no-repeat; 
    @include media-breakpoint-up(md) {
      background-size: 80%; 
      background-position: right 10%; 
    }
    background-position: center center;
    min-height: 140px;
    
  }
}


// Footer
#footer {
  // background-color: $seda-navy;
  // color: $white;
  a {
    // color: $white;
    text-decoration: none;
    // text-transform: uppercase;
  }
  .siteby {
    color: #979797;
    font-size: 1.35rem;
    a {
      color: #979797;
      &:hover {
        color: $button-bronze;
      }
    }
  }
 
}

