.btn-w-bg { // Button with background image for blog posts
    .bg-overlay {
        position: relative;
        top: 0;
        left: 0;
        background-color: #72bbc324;
        width: 100%;
        height: auto;
    }
}