body.type-courses {
    #philosophy-course-pic {
        background-origin: content-box;
        /* background-color: white; */
        background-repeat: no-repeat;
        background-position: top right;
    }
    .hero {
        background: url('/images/heroes/AvshalomIllusionsEvent-hero.jpg');
        background-size: cover;
        background-position: 78% center;
        @include media-breakpoint-up(md) {
            background-position: center center;
        }
    }
}
