body.basic-income-experiments {  
  table {
      th {
        background-color: #FFFBF5;
        color: $dkbronze;
      }
        tr {
            &:nth-child(odd) {
                color: $dkbronze;
                a {
                    color: $dkbronze;
                    text-decoration: underline;
                }
            }
            &:nth-child(even) {
                background-color: #F3FDFF;
                color: #1D7D8C;
                a {
                    color: #1D7D8C;
                    text-decoration: underline;
                }
            }
        }
        td, th {
            padding: 1.6rem;
            border: none;
        }
        td:nth-child(6) {
            width: 240px;
            display:inline-block;
        }
    }
}