body.type-news {
    .hero {
        background: url('/images/heroes/nostringsevent2-hero.jpg');
        background-size: cover;
        background-position: center center;
        h2 {
            @include media-breakpoint-up(sm) {
                max-width: 70%;
            }
        }
    }
    h2 {
        @include media-breakpoint-up(xl) {
            max-width: 90%;
        }
    }
    .newslist:nth-of-type(1) {
        .topdivider {
            border-top: none !important;
        }
    }
}
body.type-labupdates {
    .breadcrumb {
        margin-bottom: 0;
    }
}

