body.type-news {
    .hero {
        background: url('/images/heroes/nostringsevent2-hero.jpg');
        background-size: cover;
        background-position: center center;
        h2 {
            @include media-breakpoint-up(sm) {
                max-width: 70%;
            }
        }
    }
    h2 {
        @include media-breakpoint-up(xl) {
            max-width: 90%;
        }
    }
    .newslist:nth-of-type(1) {
        .topdivider {
            border-top: none !important;
        }
    }
}
body.type-labupdates {
    .breadcrumb {
        margin-bottom: 0;
    }
    .bloghero--sm img {
        max-height: 64vh;
    }
  
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin-bottom: 3.2rem;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}

body.type-news, body.type-labupdates {
    h5 {
        font-size: 2.2rem;
        line-height: 4rem;
        letter-spacing: 0.01rem;
        margin-bottom: 2.4rem;
        color: #464646;
    }
    .blogtabs {
        .nav-wrapper {
            // up to XL, we use a sticky nav-wrapper, whose parent div includes the tab text
            top: 56px;
            @include media-breakpoint-up(xl) {
                position: unset;
            }
        }
        nav.sticky-top {
            // at XL, we switch to a sticky nav, whose parent div is just the wrapper
            top: 80px;
            background: white;
            @include media-breakpoint-down(lg) {
                position: unset;
            }
        }
        .nav-tabs {
            border: none;
            margin-bottom: 2.4rem;
        }
    }
    
    .nav-link {
        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
        border:none;
        padding-bottom: 2.4rem;
        font-weight: 600;
        color: #6d6d6d;
        transition: .3s ease color;
        &:hover {
            color: #9a6013;
        }
    }
    .nav-link.active {
        border: none;
        background: transparent;
        color: #9a6013;
        //color: #6d6d6d;
        font-weight: 600;
        border-radius: 10px;
        letter-spacing: inherit;
        .underbar {
          width: 56px;
          height: 3px;
          margin-top: 8px;
          background-color: #9a6013;
          //background-color: #6d6d6d;
          opacity: 1;
          position: absolute;
        }
      }
}

