body.people {
    .hero {
        background-color: $green;
        background-image: url('/images/heroes/illusions-event-edit.jpg');
        .hero-child {
            background-color: rgba(0, 0, 0, 0.4);
            
            background-size: cover;
          background-position: center bottom;
        }
        .hero-copy h2 {
            //color: $tealgreen;
        }
    }
}

.who-we-are {
    h4 {
        margin-bottom: 4rem;
    }
    
}
.bigimage {
    display: none;
}
.modal-pic {
    img {
        max-width: 100%;
    }
}
body.people { 
    .column-people {
         .pic {
            background-size: contain; 
            //background-blend-mode: color;
        } 
    }
    .column-people:hover {
        .pic {
            //filter: none;
            //background-blend-mode: color-burn;
            //transition: background-blend-mode .3s ease;
        }
        .pic button {
            transition: background-color .3s ease;
            background-color: $button-bronze-active !important;
        }
    }    
    .row.people-former, .row.people-current {
        .flex-row {
            justify-content: center;
        }
    }
    .who-we-are-former.leadership {
        h4 {
            margin-top: 3.2rem;
            margin-bottom: 2.4rem;
            @include media-breakpoint-up(lg) {
                font-size: 2.3rem;
                line-height: 3.4rem;
            }
        }
    }
    .row.quote.m-0 {
        margin-top: 5.6rem !important;
    }
    .row.funder-logos {
        .p-2.rsf {
            top: 5px;
            position: relative;
        }
    }
}
.row {
    &.who-we-are,
    &.who-we-are-former {
      text-align: center;
      margin-top: 4.8rem;
      margin-bottom: 0;
      h2 {
        color: $seda-dark;
        //font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        letter-spacing: .055rem;
        
        margin-bottom: 3.6rem;
        @include media-breakpoint-up(md) {
          font-size: 2.6rem;
          line-height: 1.7rem;
          letter-spacing: .064rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2.8rem;
            line-height: 4.2rem;
            letter-spacing: .07rem;
          }
        @include media-breakpoint-up(xl) {
          font-size: 3rem;
          line-height: 4.5rem;
          letter-spacing: .07rem;
        }
      }
      h4 {

      }
    }
  }

  .row {
    &.people-current,
    &.people-former {
      .column-people {
        cursor: pointer;
      }
      text-align: center;
      img {
        border-radius: 62px;
      }
      .pic {
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: 100px 100px;
        border-radius: 62px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        @include media-breakpoint-up(mm) {
          width: 100px;
          height: 100px;
          background-size: 100px 100px;
          border-radius: 75px;
        }
        button {
          background-color: $button-bronze;
          color: $white;
          border: none;
          width: 32px;
          height: 32px;
          border-radius: 32px;
          font-size: 32px;
          line-height: 32px;
          font-weight: 100;
          //padding: 5px 0;
          position: absolute;
          right: -5%;
          bottom: 3%;
          display: flex;
          
          //display: block;
          justify-content: center;
          align-items: baseline;
          //padding-bottom: 8px;
          div {
            position: relative;
            top: -5px;
            max-width: 32px;
          }
          span {
            text-align: center;
            &.plus-horiz {
              transform: rotate(90deg);
              transform-origin: left top 0;
            }
          }

        }
      }
      .name {
        color: $seda-dark;
        @include sofia-med;
        font-size: 1.8rem;
        line-height: 2.592rem;
        letter-spacing: 0;
        margin-top: 1.6rem;
        margin-bottom: .4rem;
        @include media-breakpoint-up(md) {
          margin-top: 1.6rem;
          margin-bottom: .4rem;
          font-size: 1.8rem;
          line-height: 2.7rem;
          letter-spacing: 0;
        }
        @include media-breakpoint-up(md) {
            margin-top: 1.6rem;
            margin-bottom: .4rem;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0;
          }
        @include media-breakpoint-up(xl) {
            margin-top: 1.6rem;
            margin-bottom: .4rem;
            font-size: 2.2rem;
            line-height: 3.24rem;
            letter-spacing: 0;
          }
      }
      .title {
        color: $seda-gray;
        display: none;
        @include sofia-reg;
        font-size: 1.2rem;
        line-height: 2.8rem;
        letter-spacing: 0;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 2.1rem;
          letter-spacing: 0;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0;
          }
      }
      .bio {
        display: none;
      }
    }

    &.people-former {
      margin-bottom: 6.4rem;
      margin-bottom: 1.6rem; 
    }
  }

  .row {
    &.quote {
      background-color: $seda-paleblue;
      blockquote {
        color: $seda-dark;
        //font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: .002rem;
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
        @include media-breakpoint-up(md) {
          margin-top: 6.4rem;
          margin-bottom: 6.4rem;
          font-size: 1.85rem;
          line-height: 2.7rem;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 7.2rem;
          margin-bottom: 7.2rem;
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .003rem;
        }
      }
    }
  }

  .row {
    &.funders {
      margin-top: 3.2rem;
      h3 {
        color: $seda-dark;
        //font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        // line-height: 2.1rem;
        letter-spacing: .055rem;
        margin-top: 4.8rem;
        text-transform: uppercase;
        text-align: center;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: .064rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
          line-height: 3.8rem;
          letter-spacing: .07rem;
        }
      }
      p {
        color: $seda-dark;
        //font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 3.2rem;
        margin-bottom: 4.8rem;
        text-align: center;
        @include media-breakpoint-up(md) {
          font-size: 1.85rem;
          line-height: 2.7rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2rem;
          line-height: 3rem;
          letter-spacing: .03rem;
        }
        @include media-breakpoint-up(xl) {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
      }
    }
  }
  .row {
    &.funder-logos {
      margin-top: 4.8rem;
      margin-bottom: 4.8rem;
      align-items: flex-end;
    }
  }

  .row {
    &.history {
      padding-top: 3.2rem;
      padding-bottom: 8rem;
      p {
        color: $seda-gray;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
        @include media-breakpoint-up(xl) {
          font-size: 1.7rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  .modal {
    padding-right: 0 !important;

    @include media-breakpoint-up(md) {
      .modal-dialog {
        max-width: 690px;
      }
      .modal-content {
        width: 690px;
        margin: 0 auto;
      }
      .modal-body {
        padding: 1.6rem 3.2rem 3.2rem;
      }
      .modal-pic {
        padding-left: 0;
        .modal-image {
          margin-top: 0;
        }
      }
      // row {
      //   margin-right: 0 !important;
      //   margin-left: 0 !important;
      // }
      button.close {
        margin-bottom: 1rem;
      }
      .modal-image {
        margin-top: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .modal-dialog {
        max-width: 930px;
      }
      .modal-content {
        width: 930px;
        margin: 0 auto;
      }
      .modal-bio {
        padding-left: 3.2rem;
      }
    }

    button.close {
      // position: absolute;
      opacity: 1;
      align-items: center;
      color: $seda-dark;
      font-size: 3.2rem;
      font-weight: 100;
      border: 1px solid rgba(237, 238, 240, 100);
      width: 40px;
      height: 40px;
      border-radius: 20px;
      span {
        color: $seda-dark;
        font-size: 3.2rem;
        font-weight: 100;
        pointer-events: none;
        position: relative;
        top: -4px;
        left: .5px;
      }
    }
    .modal-image {
      width: 202px;
      height: 202px;
      background-position: center center;
      background-size: 202px 202px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.4rem;
      margin-bottom: 4.8rem;

      @include media-breakpoint-up(lg) {
        width: 272px;
        height: 272px;
        background-position: center center;
        background-size: 272px 272px;
      }
    }

    .modal-bio {
      hr {
        margin: 1.8rem 0;
      }
      .modal-meta {
        #modalName {
          //font-family: $sharpgrotesk-med-20;
          font-size: 1.85rem;
          line-height: 2.7rem;
          letter-spacing: 0;
          color: $seda-dark;
          margin-bottom: 1.2rem;
        }
        #modalTitle {
          //font-family: $maisonneue-book;
          font-size: 1.2rem;
          line-height: 1.8rem;
          letter-spacing: 0;
          color: $seda-gray;
        }
      }
      #modalBio {
        //font-family: $maisonneue-book;
        font-size: 1.3rem;
        line-height: 2.0rem;
        letter-spacing: 0;
        color: rgba(151, 151, 151, 100%);
        margin-bottom: 3.2rem;
      }
    }

    @include media-breakpoint-up(lg) {
      .modal-bio {
        hr {
          margin: 1.8rem 0;
        }
        .modal-meta {
          #modalName {
            font-size: 1.85rem;
            line-height: 2.7rem;
          }
          #modalTitle {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }
        }
        #modalBio {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }

    .modal-nav {
      margin-bottom: 3.2rem;

      button,
      span {
        //font-family: $sharpgrotesk-med-15;
        font-size: 1.4rem;
        letter-spacing: .055rem;
        text-transform: uppercase;
        border: 0;
        background-color: transparent;
      }
      button {
        &.next::after {
          content: "";
          background-image: url(/images/right-arrow.svg);
          display: inline-block;
          width: 14px;
          height: 10px;
          background-size: 14px 10px;
          background-repeat: no-repeat;
          background-position: bottom;
          margin-left: .8rem;
        }
        &.prev:before {
          content: "";
          background-image: url(/images/right-arrow.svg);
          display: inline-block;
          width: 14px;
          height: 10px;
          background-size: 14px 10px;
          background-repeat: no-repeat;
          background-position: bottom;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          margin-right: .8rem;
        }
        &:hover {
          text-decoration: underline;
          color: $seda-dark;
        }
        &:disabled {
          // color: #979797;
          opacity: .5;
          &:before {
            opacity: .5;
          }
          &:after {
            opacity: .5;
          }
          &:hover {
            opacity: .5;
            color: #979797;
            text-decoration: none;
          }
        }
      }
    }
  }
