
.position-apply {
    @include media-breakpoint-up(md) {
        margin-top: 13%; 
        margin-left: -15%;
    }
}


body.type-positions {
    .hero {
        background: url('/images/heroes/trevorwessondiscussion-edit.jpg');
        background-size: cover;
        background-position: 40% center;
        @include media-breakpoint-up(md) {
            background-position: left center;
        }
        h2 {
            @include media-breakpoint-up(md) {
                max-width: 70%;
            }
        }
    }
    .modal button.close {
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: auto; */
        flex-direction: column;
        border: none;
    }
}

