body.ubi-cities-toolkit {
    .hero {
        background: url('/images/heroes/WarrenBirdsong2-edit.jpg');
        background-size: cover;
        background-position: center center;
    }
    .recommendations-icon {
        height: 60px;
        width: 103px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        &#pluses {
            background-image: url("/images/icons/pluses.svg");
        }
        &#target {
            background-image: url("/images/icons/target.svg");
        }
        &#eyes {
            background-image: url("/images/icons/eyes.svg");
        }
    }    
}
body.mapping-ubi-research {
    .hero {
        background: url('/images/heroes/wessonlecture-edit.jpg');
        background-size: cover;
        background-position: center center;
    }
    h5 {
        @include media-breakpoint-up(lg) {
            max-width: 60%;
        }
        
    }
    #visualizing-intro, #visualization-attributions {
        #visualizing-intro__columns {
          column-gap: 48px;
          @include media-breakpoint-up(xl) {
            column-gap: 56px;
          }
        }
      }
    #visualization-attributions {  
        column-gap: 48px;
          @include media-breakpoint-up(xl) {
            column-gap: 56px;
          }
    }
    #hp-viz {
        background-image: url('/images/backgrounds/viz-vector.svg');
        background-size: 40%;
        background-position: center 15%;
        background-repeat: no-repeat;
        @include media-breakpoint-up(md) {
            background-size: 50%;
            background-position: right center;
            background-repeat: no-repeat;
        }
    }
    #viz-section {
        .scroll-button.btn-primary {
            width: auto;
            height:auto;
            padding: 0.8rem 1.6rem;
            i {
                position: relative;
                top: 7px;
            }
        }
    }
}   

body.global-map-of-basic-income-experiments {
    .hero {
        background: url('/images/heroes/juliana-audience-hero.jpg');
        background-size: cover;
        background-position: center center;
    }
    .subnav {
        padding-top: 0;
        padding-bottom: 0;
        .dropdown-menu {
            margin-top: 0;
        }
    }
    #bil-map-target {
        iframe {
            width: 100vw;
            height: 92vh;
            border: none;
        }
        @media (max-width: 600px) {
            height: 78vh;
        }
    }
    th:last-child  {
        display: none;
    }
    tr td:last-child {
        display: none;
    }
    footer{
     //   display: none !important;
    //  min-height: 100vh;
    }
} 

body.research-papers {
    .hero {
        background: url('/images/heroes/WarrenBirdsong2-edit.jpg');
        background-size: cover;
        background-position: center center;
    }
    .list-pic {
        width: 140px;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
        img {
            
        }
    }
    .newslist .topdivider {
        @include media-breakpoint-down(mm) {
            border-top: none;
        }
    }
    .newslist:nth-of-type(1) {
        .topdivider {
            @include media-breakpoint-up(md) {
                border-top: none !important;
            }
        }
    }
    .superhead {
        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            line-height: 1.7;
            letter-spacing: 0.213rem;
        }
    }
}

body.type-papers {
    .superhead {
        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            line-height: 1.7;
            letter-spacing: 0.213rem;
        }
    }
}

