.viz-parent {
  .viz-space {
    z-index: 2999;
  }
  .dialog {
    position: absolute;
    background-color: transparent;
    width: 450px;
    z-index: 3000;
    .dialog-body {
      background-color: white;
      color: gray;
      border: 1px solid gray;
      box-shadow: 0 1px 4px rgba(79, 79, 79, 0.18);
      border-radius:6px;
      padding: 20px;
    }
  }
}
