$SCROLL_BUTTON_HEIGHT: 30px;
$TOGGLE_PANEL_BUTTON_HEIGHT: 69px;

$VIZ_AREA_HEIGHT: calc(#{100vh} - #{$NAVBAR_HEIGHT} - (#{$SCROLL_BUTTON_HEIGHT} * 2));
$VIZ_AREA_HEIGHT_TABLET: $VIZ_AREA_HEIGHT;

$TEXT_PANEL_WIDTH: 640px;
$TEXT_PANEL_WIDTH_XL: 760px;

$TEXT_PANEL_HEIGHT_MOBILE: calc(#{$VIZ_AREA_HEIGHT} - #{$TOGGLE_PANEL_BUTTON_HEIGHT});
$TEXT_PANEL_HEIGHT_TABLET: 400px;

$VIZ_HEIGHT: $VIZ_AREA_HEIGHT;
$VIZ_HEIGHT_TABLET: calc(#{$VIZ_AREA_HEIGHT_TABLET} - #{$TEXT_PANEL_HEIGHT_TABLET});

$MIN_VIZ_CANVAS_WIDTH: 660px;
$MIN_VIZ_CANVAS_HEIGHT: 260px;

// colors - keep in sync with theme.yaml
$UBI_COLOR: #00505C;
$DEMOCRACY_COLOR: #DB8311;
$GENDER_COLOR: #AF690C;
$HEALTH_COLOR: #F5CF9E;
$AUTOMATION_COLOR: #36BFD4;
$WORK_COLOR: #CFF9FF;
$RACE_COLOR: #737579;
$ECONOMY_COLOR: #E8E7E7;

$DEMOCRACY_THEME: ( "id": "democracy", "color": $DEMOCRACY_COLOR );
$GENDER_THEME: ( "id": "gender", "color": $GENDER_COLOR );
$HEALTH_THEME: ( "id": "health", "color": $HEALTH_COLOR );
$AUTOMATION_THEME: ( "id": "automation", "color": $AUTOMATION_COLOR );
$WORK_THEME: ( "id": "work", "color": $WORK_COLOR );
$RACE_THEME: ( "id": "race", "color": $RACE_COLOR );
$ECONOMY_THEME: ( "id": "economic-effects", "color": $ECONOMY_COLOR );

$THEMES: (
  $DEMOCRACY_THEME,
  $GENDER_THEME,
  $HEALTH_THEME,
  $AUTOMATION_THEME,
  $WORK_THEME,
  $RACE_THEME,
  $ECONOMY_THEME
);

nav.navbar.sticky-top {
  z-index: 3000;
}


.scroll-button {
  height: $SCROLL_BUTTON_HEIGHT;
  display: inline-block;
  cursor: pointer;
  p {
    display: inline-block;
  }
}

.viz-parent {
  // for when viz-space min-width is wider than screen (may need to make this rule more specific)
  overflow: hidden;
  position: relative;
  //box-shadow: inset 0px -1px 7px 0px rgba(0, 0, 0, 0.1);
  background-color: #FBFAF7;
  //height: 76vh;
  height: $VIZ_HEIGHT;

  .click-hint {
    z-index: 2999; // above chart, below nav
    position: absolute;
    width: 136px;
    left: calc(24% - 70px);
    top: 65px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    //border: .5px solid black;
    background: white;
    color: black;
  }

  #viz-space {
    z-index: 2998;
    width: 100%;
    min-width: $MIN_VIZ_CANVAS_WIDTH;
    // min-height: $MIN_VIZ_CANVAS_HEIGHT;
    height: 100%;
    background-color: #FBFAF7;
    // transition: width ease 1s;
  }
  &.text-panel-open #viz-space {
    width: calc(100% - #{$TEXT_PANEL_WIDTH});
    @include media-breakpoint-up(xl) {
      width: calc(100% - #{$TEXT_PANEL_WIDTH_XL});
    }
  }

  #text-panel {
    z-index: 2999;
    background-color: #fff;
    position: absolute;
    right: 0;
    width: $TEXT_PANEL_WIDTH;
    @include media-breakpoint-up(xl) {
      width: 50%;
      max-width: $TEXT_PANEL_WIDTH_XL;
    }
    transition: transform ease .8s;
    transform: translateX(100%);
    .card {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #EEEEEE;
      margin-left: 3.2rem;
      margin-right: 3.2rem;
      @include media-breakpoint-up(md) {
        margin-left: 4.8rem;
        margin-right: 4.8rem;
      }
      overflow: unset;
      &:last-of-type {
        border-bottom: none;
      }
      &:focus {
        .card-header {
          position: sticky;
          top: 0;
        }
      }
    }
    .card-header {
      height: 65px;
      background: white;
      padding: 0.75rem 0;
      z-index: 1;
      &.card-header-sticky {
        position: sticky;
        top: 0px;
        @include media-breakpoint-up(md) {
          top: 0;
        }
        
      }
      .text {
        // display: inline-block;
        font-size: 20px;
      }

      .btn {
        text-align: start;
        text-decoration: none;
        position: relative;
        width: 100%;
        padding: 0.375rem 0.75rem 0.375rem 0;
        .icon {
          position: absolute;
          right: 0;
        }
        &.collapsed {
          .collapse-icon {
            display: none;
          }
        }
        &:not(.collapsed) {
          .expand-icon {
            display: none;
          }
        }
      }

      .btn-link:hover {
          color: unset;
          text-decoration: unset;
      }

      @each $theme in $THEMES {
        &#heading-#{map-get($theme, "id")} .theme-orb {
          height: 16px;
          width: 16px;
          margin-right: 9px;
          border-radius: 50%;
          display: inline-block;
          background-color: #{map-get($theme, "color")};
        }
      }
    }
    .card {
      a.nav-link:before {
        content: "•";
        font-size: 32px;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }
      #collapse-gender {
        a.nav-link:before {
          color: #AF690C;
        }
      }
      #collapse-economic-effects {
        a.nav-link:before {
          color: #dcdcdc;
        }
      }
      #collapse-democracy {
        a.nav-link:before {
          color: #DB8311;
        }
      }
      #collapse-race {
        a.nav-link:before {
          color: #747579;
        }
      }
      #collapse-work {
        .underbar {
         // background-color: #cff9ff;
        }
        a.nav-link:before {
          color: #CFF9FF;
        }
      }
      #collapse-automation {
        a.nav-link:before {
          color: #36BFD4;
        }
      }
      #collapse-health {
        a.nav-link:before {
          color: #F5CF9E;
        }
      }
    }
    .card-body {
      color:#6d6d6d;
      padding: 1.6rem 0;
      .nav-link {
        padding: 0rem 1.6rem 0rem 0;
        margin-right: .8rem;
        .underbar {
          width: 56px;
          height: 3px;
          margin-top: 8px;
          background-color: black;
          opacity: 0;
          transition: opacity .3s ease;
          margin-left: 24px;
        }
      }
      p {
        color:#6d6d6d;
        margin-bottom: 1.6rem;
      }

      .related-link a {
        color: #04143c;
        cursor: pointer;
        &:hover {
          color: #9a6013;
        }
      }
    }
    .content {
      // max-height: 100%;
      height: $VIZ_HEIGHT;
      overflow: scroll;
    }
    .card-body .nav-pills .nav-link {
      color: #6d6d6d;
      font-weight: 500;
      border-radius: 10px;
      &:hover {
        color: #9a6013;
      }
    }
    .card-body .nav-pills .nav-link.active {
      background: transparent;
      color: #9a6013;
      //color: #6d6d6d;
      font-weight: 500;
      border-radius: 10px;
      .underbar {
        width: 56px;
        height: 3px;
        margin-top: 8px;
        background-color: #9a6013;
        //background-color: #6d6d6d;
        opacity: 1;
      } 
    }

    .toggle {
      cursor: pointer;
      position: absolute;
      left: 1px;
      top: 24px;
      width: 61px;
      height: $TOGGLE_PANEL_BUTTON_HEIGHT;
      background: white;
      //border: solid .5px rgba(55, 55, 55, 0.125);
      padding: 10px;
      transform: translateX(-100%);
      border-radius: 2px;

      .group {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        p {
          font-size: 12px;
          font-weight: $font-weight-light;
          margin: 0;
          text-transform: uppercase;
        }
        &.close-group {
          display: none;
        }
        &.open-group {
          display: flex;
        }
      }
    }
  }

  &.text-panel-open {
    #text-panel {
      transform: translateX(0);
      .close-group.group {
        display: flex;
      }
      .open-group.group {
        display: none;
      }
    }
  }

  
  @include media-breakpoint-only(md) {
    // on tablet shrink viz space to accommodate text-panel below
    // (on mobile, just allow text-panel to obscure viz without adjusting it)
    &.text-panel-open #viz-space {
      height: $VIZ_HEIGHT_TABLET;
    }
  }
  @include media-breakpoint-down(md) {
    height: $VIZ_AREA_HEIGHT_TABLET !important;
    &.text-panel-open {
      #viz-space {
        // display: none;
        width: 100% !important;
      }

      #text-panel .toggle {
        top: 0;
        transform: translate(0, -90%); // shift toggle to above text-panel, slid slightly under it
      }
    }

    #text-panel {
      position: absolute;
      bottom: 0%;
      // width: calc(100% - 30px);
      width: 100%;
      .content {
        height: $TEXT_PANEL_HEIGHT_TABLET;
        overscroll-behavior: contain; // prevent "scroll-chaining" to parent elements (where supported)
      }
      .toggle {
        transition: translate ease 1s;
      }
    }
  }

   @include media-breakpoint-down(smm) {
    /* #viz-space {
      display: none;
    } */
    #text-panel {
      // transform: translateX(0);
      // width: 100%;
      .content {
        height: $TEXT_PANEL_HEIGHT_MOBILE;
      }
      .toggle {
        top: 0;
      }
    }
  } 
}
