// Hero
body.what-is-ubi {
    .hero {
      background-image: url('/images/heroes/VanParijsbasicincome-edit.jpg');
      background-position: 70% 0%;
      @include media-breakpoint-up(md) {
        background-position: bottom center;
      }
      @include media-breakpoint-up(xl) {
        background-position: center top;
      }
      .hero-child {
        @include media-breakpoint-up(md) {
            background-position: bottom center;
        }
      }
    }
    #what-is-ubi {
        .what-is-icon {
            height: 56px;
            width: 65px;
            //background-size: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
            margin-bottom: .8rem;
            &#periodic {
                background-image: url('/images/icons/periodic.svg');
            }
            &#cash-payment {
                background-image: url('/images/icons/cash-payment.svg');
            }
            &#universal {
                background-image: url('/images/icons/universal.svg');
            }
            &#individual {
                background-image: url('/images/icons/individual.svg');
            }
            &#unconditional {
                background-image: url('/images/icons/unconditional.svg');
            }
        }
    }

    
  }

 body.what-is-bil {
    .hero {
        background-image: url('/images/backgrounds/WessonDisucussionGeneral-edit.jpg')
    } 
    .hero-child {
        @include media-breakpoint-up(xl) {
            background-position: center bottom;
        }
      }
    .sq-img {
        min-height: 480px;
    }
    #why-basic {
        .sq-img {
            background-image: url('/images/backgrounds/basic_income_in_cities.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 42%;
            @include media-breakpoint-up(md) {
                background-position: 50% top;
                border-right: 2.4rem solid white;
            }
            @include media-breakpoint-up(lg) {
                border-right: 4rem solid white;
            }
        }
        
    }
    #why-now {
        .sq-img {
            background-image: url('/images/backgrounds/Vanparijsevent-edit1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            // background-position-x: 40%;
            background-position: 60%;
            @include media-breakpoint-up(md) {
                background-position: 70%;
                border-left: 2.4rem solid white;
            }
            @include media-breakpoint-up(lg) {
                border-left: 4rem solid white;
            }
        }
    }     
 } 