// Hero
body.what-is-ubi {
    .hero {
      background-image: url('/images/heroes/VanParijsbasicincome-edit.jpg');
      background-position: 70% 0%;
      @include media-breakpoint-up(md) {
        background-position: bottom center;
      }
      .hero-child {
        @include media-breakpoint-up(md) {
            background-position: bottom center;
        }
      }
    }
    #what-is-ubi {
        .what-is-icon {
            height: 56px;
            width: 65px;
            //background-size: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
            margin-bottom: .8rem;
            &#periodic {
                background-image: url('/images/icons/periodic.svg');
            }
            &#cash-payment {
                background-image: url('/images/icons/cash-payment.svg');
            }
            &#universal {
                background-image: url('/images/icons/universal.svg');
            }
            &#individual {
                background-image: url('/images/icons/individual.svg');
            }
            &#unconditional {
                background-image: url('/images/icons/unconditional.svg');
            }
        }
    }

    
  }