{{ define "main" }}

<div id="hero" class="hero">
    <div class="hero-child row">
        
        <div class="hero-copy col-10 col-md-8 offset-md-1 d-flex align-items-center">
        
            <h2>Basic Income consists of a periodic cash allowance given to all citizens, without means test to provide them with a standard of living above the poverty line. </h2>
            
        </div>
    </div>
</div>


<!--/////       WHAT WE DO      \\\\\-->
<div id="what-is-text" class="pt-sm-5 pt-md-7 pt-lg-9 pt-xl-12 pb-sm-7 pb-md-7 pb-xl-8">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <h2 class="mb-sm-4 mb-md-4 mb-xl-5">What is Basic Income?</h2>
        </div>
        <div class="col-md-5 offset-md-">
            <p class="medgraytext">The past three decades have seen the elaboration of a vast body of literature on universal basic income, a radical policy proposal Philippe Van Parijs referred to as "a disarmingly simple idea." It consists of a periodic cash allowance given to all citizens, without means test to provide them with a standard of living above the poverty line. Basic income crosses disciplinary and political lines - with activists, philosophers, economists, conservatives, and liberals arguing both for and against it, and sometimes changing their minds.</p>

            <p class="medgraytext">Universal basic income takes different shapes depending on how it is framed, what policies are suggested to support it, the society in which it is applied, and how it is funded. Each of these variables are dependent on the proposal and are not necessarily defining features of the concept itself.</p>
                
            <p class="medgraytext">On this page you will find the defining features of basic income, evidence collected thus far on the effects of cash-based grants, articles on basic income from a variety of disciplines, and literature on two popular alternatives to UBI -- basic job guarantee and basic capital.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="divider col-12 col-md-10 offset-md-1"></div>
</div>
<!--/////       DEFINING CHARACTERISTICS      \\\\\-->
<div id="what-is-ubi">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto d-flex flex-column align-items-center my-sm-5 my-md-8 my-lg-10 my-xl-11">
            <h2 class="text-center blacktext mb-2">Defining Characteristics</h2>
            <p class="text-center slatetext">Adapted from Basic Income Earth Network (BIEN)</p>
        </div>
    </div>
    <div class="row mb-md-4 mb-lg-6 mb-xl-11">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="periodic" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">Periodic</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">It is paid at regular intervals (for example every month), not as a one-off grant.</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="cash-payment" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">Cash payment</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">It is paid in an appropriate medium of exchange, allowing those who receive it to decide what they spend it on.</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="universal" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">Universal</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">It is paid to all, without means test.</p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-3"></div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="individual" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">Individual</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">It is paid on an individual basis—and not, for instance, to households.</p>
        </div>
        <div class="col-md d-flex flex-column align-items-center">
            <div id="unconditional" class="what-is-icon mb-sm-1"></div>
            <h3 class="blacktext">Unconditional</h3>
            <p class="slatetext text-center mt-sm-1 mb-sm-3 my-md-0">It is paid without a requirement to work or to demonstrate willingness-to-work.​</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto d-flex flex-column align-items-center mt-sm-5 mt-md-8 mt-lg-9 mt-xl-11 mb-sm-8 mb-md-10 mb-lg-12 mb-xl-15">
        <button type="button" class="btn btn-primary">Learn more</button>
    </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}
